@import '../../../../styles.scss';

.progress-container {
  // Fixa a barra no topo da janela
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px; // A espessura da barra
  background-color: transparent; // Fundo transparente por padrão
  z-index: 2000; // Garante que fique acima de todos os outros elementos
}

.progress-bar {
  height: 100%;
  background-color: $cor-secundaria; // A cor azul que definimos
  width: 0%; // A barra começa com 0% de largura

  // Uma transição suave para a mudança de largura
  transition: width 0.05s linear;
}