<header class="main-header">
  <div class="logo">
    <a routerLink="/"><img src="assets/logo.png" width="140" height="50"  alt="<E/code>"></a>
  </div>
  <div class="nav-and-theme">
<nav class="main-nav">
    <ul>
      <li>
        <a [routerLink]="['/blog']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Blog</a>
      </li>
      <li>
        <a [routerLink]="['/sobre']" routerLinkActive="active-link">Sobre</a>
      </li>
    </ul>
    
  </nav>
    <button (click)="themeService.toggleTheme()" class="theme-toggle" aria-label="Alternar tema">
      <i class="fas fa-moon"></i>
    </button>
  </div>
  
</header>