<div class="admin-wrapper">
  <aside class="sidebar">
    <h2 class="sidebar-title">Ecode Admin</h2>
    <nav class="sidebar-nav">
      <ul>
        <li>
          <a routerLink="/admin/dashboard">Dashboard</a>
        </li>
        <li>
          <a routerLink="/admin/editor">Novo Post</a>
        </li>
        <li class="logout-item">
      <button (click)="logout()">Sair</button>
     </li>
      </ul>
    </nav>
  </aside>
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>