@import '../../.././../styles.scss'; // Permite usar nossas variáveis de cor

:host {
  display: block; // Comportamento de bloco padrão
}

.main-footer {
  background-color: $cor-primaria; // Usando a variável do styles.scss
  color: #ecf0f1; // Um cinza claro para o texto
  padding: 2.5rem 2rem;
  text-align: center;
  font-size: 0.9rem;
}

.main-footer {
  background-color: var(--footer-bg); // Usar variável
  color: var(--footer-text); // Usar variável
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  margin-top: auto;
  // NOVO: Adicione o efeito de vidro fosco
  backdrop-filter: blur(8px); 
  -webkit-backdrop-filter: blur(8px);
  transition: background-color 0.3s ease, color 0.3s ease, backdrop-filter 0.3s ease;
}