/* src/app/app.component.scss */

// :host se refere ao próprio componente <app-root>
:host {
  // 1. O container vira uma coluna flex
  display: flex;
  flex-direction: column;

  // 2. A altura mínima será 100% da altura da janela (Viewport Height)
  min-height: 100vh;
}

.main-content {

  flex: 1;
   position: relative;

   display: flex;
  flex-direction: column;

}

.main-content > div{
  flex: 1;
}